{% extends "template.html" %}

{% block content %}


<div class="register-page">
    <div class="form-container">
        <div class="form-title">Welcome Back!</div>
        
        <form method="POST" action="" class="register-form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <div class="form-label">{{ form.email.label }}</div>
                {{ form.email(class="form-input") }}
                {% if form.email.errors %}
                <div class="form-errors">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <div class="form-label">{{ form.password.label }}</div>
                {{ form.password(class="form-input") }}
                {% if form.password.errors %}
                <div class="form-errors">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input")}}
                {{ form.remember.label(class="form-check-label")}}
            </div>
            <div class="form-action">
                {{ form.submit(class="submit-btn") }}
            </div>
            <small class="text-muted">
                <a href="#">Forgot Password</a>
            </small>
            
            <div class="form-footer">
                Dont have an account yet? <a href="{{ url_for('register') }}" class="login-link">Register here</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
